// Color helpers

%color-primary {
	color: $cx-primary-color;
}

%color-secondary {
	color: $cx-secondary-color;
}

%color-tertiary {
	color: $cx-tertiary-color;
}

%color-transparent {
	color: transparent;
}

%color-offset {
	color: $cx-offset-color;
}

%color-white {
	color: lighten($cx-text-color, 100%);
}

%color-dark {
	color: #252525;
}

%color-black {
	color: #000;
}

%color-text {
	color: $cx-text-color;
}

%bgc-primary {
	background-color: $cx-primary-color;
}

%bgc-secondary {
	background-color: $cx-secondary-color;
}

%bgc-tertiary {
	background-color: $cx-tertiary-color;
}

%bgc-transparent {
	background-color: transparent;
}

%bgc-offset {
	background-color: $cx-offset-color;
}

%bgc-default-border {
	background-color: $cx-border-color;
}

%bgc-white {
	background-color: lighten($cx-text-color, 100%);
}

%bgc-dark {
	background-color: #252525;
}

%bgc-black {
	background-color: #000;
}

%border-primary {
	border-color: $cx-primary-color;
}

%border-secondary {
	border-color: $cx-secondary-color;
}

%border-tertiary {
	border-color: $cx-tertiary-color;
}

%border-default {
	border-color: $cx-border-color;
}

%border-offset {
	border-color: $cx-offset-color;
}

%border-black {
	border-color: #000;
}



// Color Schemes

.color-primary,
.has-primary-color {
	@extend %color-primary;
}

.color-secondary,
.has-secondary-color {
	@extend %color-secondary;
}

.color-tertiary,
.has-tertiary-color {
	@extend %color-tertiary;
}

.color-transparent {
	@extend %color-transparent;
}

.color-offset,
.has-offset-color {
	@extend %color-offset;
}

.color-white {
	@extend %color-white;
}

.color-dark {
	@extend %color-dark;
}

.color-black {
	@extend %color-black;
}

.bgc-primary,
.has-primary-background-color {
	@extend %bgc-primary;
}

.bgc-secondary,
.has-secondary-background-color {
	@extend %bgc-secondary;
}

.bgc-tertiary,
.has-tertiary-background-color {
	@extend %bgc-tertiary;
}

.bgc-transparent {
	@extend %bgc-transparent;
}

.bgc-offset,
.has-offset-background-color {
	@extend %bgc-offset;
}

.bgc-default-border {
	@extend %bgc-default-border;
}

.bgc-white {
	@extend %bgc-white;
}

.bgc-dark {
	@extend %bgc-dark;
}

.bgc-black {
	@extend %bgc-black;
}

.border-primary {
	@extend %border-primary;
}

.border-secondary {
	@extend %border-secondary;
}

.border-tertiary {
	@extend %border-tertiary;
}

.border-default {
	@extend %border-default;
}

.border-offset {
	@extend %border-offset;
}

.border-black {
	@extend %border-black;
}
