html,
body {
	font-size: $cx-body-font-size;
}

body {
	font-family: $cx-body-font;
	line-height: $cx-body-line-height;
	color: $cx-text-color;
	font-weight: $cx-body-font-weight;
}

h1 {
	font-size: $cx-h1-font-size;
}

h2 {
	font-size: $cx-h2-font-size;
}

h3 {
	font-size: $cx-h3-font-size;
}

h4 {
	font-size: $cx-h4-font-size;
}

h5 {
	font-size: $cx-h5-font-size;
}

h6 {
	font-size: $cx-h6-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $cx-heading-font;
	font-weight: 400;
	@extend %default-heading;
}

address {
	font-style: italic;
}

cite {
	font-size: $cx-body-font-size * 0.95;

	&:last-of-type {
		@extend %mb0;
	}
}

a,
a:focus,
a:active,
a:hover {
	text-decoration: none;
}

legend {
	font-size: 18px;
}

label {
	font-size: 14px;
	font-weight: normal;
}

textarea,
select,
input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="button"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="tel"] {
	font-size: 12px;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	font-weight: 600;
	letter-spacing: 0.05em;
}

::-webkit-input-placeholder {
	color: #000;
	font-size: 13px;
}

::-moz-placeholder {
	color: #000;
	font-size: 13px;
}

:-ms-input-placeholder {
	color: #000;
	font-size: 13px;
}

:-moz-placeholder {
	color: #000;
	font-size: 13px;
}

::-webkit-selection {
	background-color: $cx-primary-color;
	text-shadow: none;
	color: #fff;
}

::-moz-selection {
	background-color: $cx-primary-color;
	text-shadow: none;
	color: #fff;
}

::selection {
	background-color: $cx-primary-color;
	text-shadow: none;
	color: #fff;
}
